<a href="/account/{{user.id}}" class="card-panel">
	<div class="card-panel-image">
		<div class="blurred" style="background-image: url({{user.image.secure_url | default('/images/anon.jpg')}});"></div>
		<img class="image" src="{{user.image.secure_url |replace({'/upload/': '/upload/ar_1:1,c_fill,g_auto/'}) | default('/images/anon.jpg')}}" />
	</div>
	<div class="card-content">
		<div class="name">
			<i class="material-icons">person</i>
			{{user.name}} {% if user.id == sessionUser.id %}<span class="flag-own">-you</span>{% endif %}
		</div>
		<div class="title"><i class="material-icons">business_center</i>{{user.title}}</div>
		<div class="location"><i class="material-icons">person_pin_circle</i>{{user.location}}</div>

		{% set notSessionUserCard = user.id != sessionUser.id %}

		{% if user.isGuest %}
			<div 
				class="guest {% if sessionUser.isHost %}guest--can-invite{% endif %}" 
				{% if sessionUser.isHost and notSessionUserCard %}
					data-invite='{"inviteeId":"{{user.id}}", "type":"GUEST"}'
					{% if user.matchAsGuest %}
						data-invite-status="match"
					{% elseif user.isInvitedBySessionUserAsGuest %}
						data-invite-status="owner"
					{% elseif user.invitedSessionUserAsHost  %}
						data-invite-status="invitee"
					{% else %}
						data-invite-status="none"
					{% endif %}
				{% endif %} >
				<div class="check" >
					<div class="none">
						<i class="material-icons">toggle_off</i>
						<i class="material-icons">toggle_off</i>
						<span></span>
						<span class="next">Invită</span>
					</div>
					<div class="owner">
						<i class="material-icons icon-on">toggle_on</i>
						<i class="material-icons">toggle_off</i>
						<span>Ai Invitat</span>
						<span class="next">Retrage</span>
					</div>
					<div class="invitee">
						<i class="material-icons">toggle_off</i>
						<i class="material-icons icon-on">toggle_on</i>
						<span>Ești Invitat</span>
						<span class="next">Acceptă</span>
					</div>
					<div class="match">
						<i class="material-icons">toggle_on</i>
						<i class="material-icons">toggle_on</i>
						<span>Winner!</span>
						<span class="next">Retrage</span>
					</div>
				</div>
				<div class="text">
					<div class="headline">Invitat</div>
					<div class="guest-subject">{{user.guestSubject}}</div>
				</div>
			</div>
		{% endif %}

		{% if user.isHost %}
			<div class="host {% if sessionUser.isGuest %}host--can-invite{% endif %}"
				{% if sessionUser.isGuest and notSessionUserCard %}
					data-invite='{"inviteeId":"{{user.id}}", "type":"HOST"}'
					{% if user.matchAsHost %}
						data-invite-status="match"
					{% elseif user.isInvitedBySessionUserAsHost %}
						data-invite-status="owner"
					{% elseif user.invitedSessionUserAsGuest  %}
						data-invite-status="invitee"
					{% else %}
						data-invite-status="none"
					{% endif %}
				{% endif %} >
				<div class="check" >
					<div class="none">
						<i class="material-icons">toggle_off</i>
						<i class="material-icons">toggle_off</i>
						<span></span>
						<span class="next">Invită</span>
					</div>
					<div class="owner">
						<i class="material-icons icon-on">toggle_on</i>
						<i class="material-icons">toggle_off</i>
						<span>Ai Invitat</span>
						<span class="next">Retrage</span>
					</div>
					<div class="invitee">
						<i class="material-icons">toggle_off</i>
						<i class="material-icons icon-on">toggle_on</i>
						<span>Ești Invitat</span>
						<span class="next">Acceptă</span>
					</div>
					<div class="match">
						<i class="material-icons">toggle_on</i>
						<i class="material-icons">toggle_on</i>
						<span>Winner!</span>
						<span class="next">Retrage</span>
					</div>
				</div>

				<div class="text">
					<div class="headline">Gazda</div>
					<div class="subject">{{user.subject}}</div>
				</div>
			</div>
		{% endif %}
	</div>
</a>