{% extends "../../layouts/default.twig" %}


{% block head %}
	<title>Invitati Podcast | Lista Invitati si Podcasteri</title>
	<meta name="description" content="Gaseste parteneri de discutie din toate colturile romaniei. ">
	<meta name="keywords" content="Invitati, Podcast, Show, Conversatie, Radio">
{% endblock %}

{% block content %}
	<div class="list-page">

		<div class="container layout-rails">

			<div class="user-container">
				
				<div class="filters-panel">

					<h1>Lista de <span class="guest-color">Invitati</span> si <span class="host-color">Podcasteri</span></h1>
					<hr />

					<h6 class="filter-prompt">Filtru:</h6>

					<form class="filter-form" action="/list">

						<div class="filter-inner">
							<div class="filter-type-container">
								<input id="filter-item-guests" {% if queryData.type == 'GUESTS'%}checked{% endif %} type="radio" name="type" value="GUESTS" />
								<label for="filter-item-guests" class="filter-item">Invitati</label>
								
								<input id="filter-item-hosts" {% if queryData.type == 'HOSTS'%}checked{% endif %} type="radio" name="type" value="HOSTS" />
								<label for="filter-item-hosts" class="filter-item">Podcasteri</label>
								
								<input id="filter-item-all" {% if queryData.type == false %}checked{% endif %} type="radio" name="type" value="" />
								<label for="filter-item-all" class="filter-item">Ambele</label>
							</div>

							<input class="filter-query" type="text" name="query"  value="{{ queryData.query | default('') }}" placeholder="Căutați nume, locație, orice" />
						
							<input class="filter-submit" type="submit" value="Aplica Filtru" />
						</div>
					</form>
				</div>

				<div class="user-container-inner">
					{% for user in users %}
						{% include 'list/card.twig' %}
					{% endfor %}
				</div>

				{% if users.length == config.list.page_size %}
				<div class="list-footer-panel">
					<a href="#" class="btn btn-primary" data-page-size="{{config.list.page_size}}" data-load-more>Load more</a>
				</div>
				{% endif %}
			</div>


		</div>
	</div>
{% endblock %}