{% extends "../layouts/default.twig" %}


{% block head %}
	<title>Invitati Podcast</title>
	<meta name="description" content="Gaseste parteneri de discutie din toate colturile romaniei. ">
	<meta name="keywords" content="Invitati, Podcast, Show, Conversatie, Radio">
{% endblock %}


{% block content %}
	<div class="hero">
		<a class="hero-cta hero-cta--left" href="/list?type=GUESTS">
			
			<div class="hero-cta-text">
				<div class="main">Podcaster?</div>
				<div class="secondary">Vezi cine ar vrea sa stea la o poveste.</div>
			</div>
		</a>

		<a class="hero-cta hero-cta--right" href="/list?type=HOSTS">
			<div class="hero-cta-text">
				<div class="main">Potential invitat?</div>
				<div class="secondary">Vezi cine te vrea la o poveste.</div>
			</div>
		</a>

		<a class="hero-cta--middle" href="/list">
			<div class="main">Doar curios?</div>
			<div class="secondary">vezi cine e pe aici.</div>
		</a>
	</div>


	<div class="home-content">
		
		<div class="container">
			<div class="row">
				<div class="col-xs-12 layout-rails layout-rails--dark">
					<div class="content-container content-container--home">
					
						<div class="content-panel content-panel--open-bottom">
						
							<h2>Stai, ce!? De ce?</h2>
							<div class="subtitle-h2">Sa raspundem intai la intrebarile evidente:</div>

							<div class="row">
								<div class="col-xs-offset-1 col-xs-10 col-md-4">
									<div class="about-column">
										<h4>Ce?</h4>
										<p>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Invitati Podcast</strong> e un proiect ce isi propune sa faca legatura intre <em>oameni ce vor sa invite</em> pe altii la discutii, cu <em>oameni ce vor sa fie invitati</em> la discutii.
											<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In practica lucrurile sunt mereu complicate si multe dintre solutii vin si ele cu alte probleme, deci avem nevoie de multa rabdare, indulgenta si intelegere, 
											sau macar putin cinism bazat pe asteptari putine, ca si ala e bun.
										</p>
									</div>
								</div>

								<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-4">
									<div class="about-column">
										<h4>De ce?</h4>
										<p>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pe scurt, pentru ca e <em>dubios</em> sa contactezi oameni pe care nu ii cunosti, cu atat mai mult sa te autoinviti la cate o discutie. Ca si potentiala gazda, poate e putin mai usor sa contactezi straini,
											dar pentru ei speram sa rezolvam o alta problema: poate cineva ar fi un invitat foarte bun, dar nu iti trece prin cap ca ar vrea sa fie invitat.
										</p>
									</div> 
								</div>
							</div>
						</div>

						
						<div class="content-panel content-panel--open-top content-panel--open-bottom steps-panel">
							<h2>Cum functioneaza?</h2>
							<div class="subtitle-h2">In 3 pași simpli:</div>
							<div class="row steps-row">
								<div class="col-xs-12">
									<div class="step-wrapper">
										<div class="index-wrapper">
											<div class="index">1</div>
										</div>
										<div class="step-text">
											Primul pas e sa iti faci cont. In principiu am incercat sa facem cat de multe campuri sa fie optionale, 
											dar nu uita, informatia nu e pentru noi, ci e pentru cei care ar vrea sa te cunoasca. Fi linistit, orice informatie 
											e strict folosita ori pentru a te contacta, ori ca sa fi contactat de altii. Daca am vrea sa facem lucruri necurate cu datele 
											oamenilor am face aplicatii de facebook, nu proiecte de nișă. Conturile au nevoie de aprobare, ca sa evitam conturi pline de organe sau alte sugestii mature.
										</div>
										<div class="step-image">
											<img src="/images/create_account_gradient.jpg" />
										</div>
									</div>

									<div class="step-wrapper">
										<div class="index-wrapper">
											<div class="index">2</div>
										</div>
										<div class="step-text">
											Al doilea pas e sa te uiti in lista de utilizatori si sa bifezi pe cine ai vrea sa inviti, sau sa bifezi daca vrei sa fi invitat de catre cineva.
											Ca sa simplificam aplicatia, filtrul e un simplu filtru de cuvinte pentru toate campurile, inclusiv locatie. 
										</div>
										<div class="step-image">
											<img src="/images/invite_somebody_gradient.jpg" />
										</div>
									</div>

									<div class="step-wrapper">
										<div class="index-wrapper">
											<div class="index">3</div>
										</div>
										<div class="step-text">
											Al treilea pas e sa urmaresti site-ul, si daca dorinta cererea ta de a purta o discutie cu cineva e reciproca, asta v-a fi semnalat cu "winner". 
											Planuim pe viitor sa implementam notificatii pe email, momentan e "work in progress".
										</div>
										<div class="step-image">
											<img src="/images/winner_gradient.jpg" />
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="content-panel content-panel--open-top numbers-panel">

							<h2>Niste numere sa te convinga</h2>
							<div class="subtitle-h2">Nu sunt calculate matematic, dar orice proiect ce se respecta le are</div>

							<div class="numbers-wrapper">
								<div class="row">
									<div class="col-xs-4">
										<div class="number-item">
											<span class='numscroller' data-min='1' data-max='7540' data-delay='5' data-increment='20'>1000</span>
											<div class="number-label">Fanii tai</div>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="number-item">
											<span class='numscroller' data-min='1' data-max='420' data-delay='5' data-increment='4'>1000</span>
											<div class="number-label">Stima ta de sine</div>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="number-item">
											<span class='numscroller' data-min='1' data-max='5580' data-delay='5' data-increment='20'>1000</span>
											<div class="number-label">Visele implinite</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
