{% import "../mixins/flash-messages.twig" as FlashMessages %}
{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/vendor/medium-editor-master/css/medium-editor.min.css"> <!-- Core -->
		<link rel="stylesheet" href="/vendor/medium-editor-master/css/themes/beagle.min.css"> <!-- or any other theme -->
		<link href="/styles/site.css" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/invitati_podcast.png">
		<link rel="icon" type="image/png" href="/invitati_podcast_32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/invitati_podcast_16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/invitati_podcast.svg" color="#2d7f82">
		<meta name="theme-color" content="#2d7f82">
		{% if sessionUser and sessionUser.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% block css %}{% endblock %}
		{% block head %}{% endblock %}
		<script src='https://www.google.com/recaptcha/api.js?render=6LdnBn4UAAAAAN8BC7MjiwgaKrnpJU6a4acPNq0d'></script>
	</head>
	<body {% if section %} class="{{section}}" {% endif %}>
		<div id="header" class="container">
			<div role="navigation" class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">InvitatiPodcast</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							{% for link in navLinks %}
								{% set linkClass = '' %}
								{% if link.key == section %}
									{% set linkClass = ' class="active"' %}
								{% endif %}
								<li{{ linkClass | striptags }}>
									<a href="{{ link.href }}">{{ link.label }}</a>
								</li>
							{% endfor %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{% if sessionUser is defined %}
								<li class="name">
									<a href="/account"><i class="material-icons">person</i>{{sessionUser.name}},</a>
									{% if sessionUser.isGuest %}
										<a class="guest guest-color">Invitat</a>
									{% endif %}
									{% if sessionUser.isHost %}
										<a class="host host-color">Podcaster</a>
									{% endif %}
								</li>
								
								{% if sessionUser.canAccessKeystone %}
									<li><a href="/keystone">Open Keystone</a></li>
								{% endif %}
								<li><a href="/logout">Sign Out</a></li>
							{% else %}
								<li><a href="/account/new">Creaza Cont</a></li>
								<li><a href="/login">Log In</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			{% block intro %}{% endblock %}
			{{ FlashMessages.renderMessages(messages) }}
			{% block content %}{% endblock %}
		</div>
		<div id="footer" class="container">
			<div class="container">
				<p>Made with 💜 and 😓 by <a href="http://www.hognogi.com">Beni Hognogi</a> Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
			</div>
		</div>
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="/vendor/medium-editor-master/js/medium-editor.min.js"></script>
		<script src="/vendor/numscroller-1.0.js"></script>
		{% if (user is defined) and (user.canAccessKeystone) %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}
		
		<script src="/js/main.js"></script>
		{% block js %}{% endblock %}


		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130674893-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-130674893-1');
		</script>

	</body>
</html>
{% endspaceless %}