* {
	font-family: 'Muli', sans-serif;
}

#header {
	margin-top: 30px;
	position: fixed;
    z-index: 2;
	width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.navbar-default {
	border-radius: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	opacity: 0;
	transition: all .2s ease-in-out;
}

.scroll-position--body,
.scroll-position--top {
	.navbar-default {
		opacity: 1;
	}
}

.home.scroll-position--top .navbar-default {
	opacity: 0;
}


.scroll-position--top {
	.navbar-default {
		opacity: 1;
	}
}

.home-content {
	background-image: url(../images/doodles.png);
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		opacity: 0.35;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: -moz-linear-gradient(-45deg, rgba(45,127,130,0.65) 0%, rgba(45,127,130,0.65) 15%, rgba(207,150,113,0.65) 32%, rgba(45,127,130,0.66) 61%, rgba(207,150,113,0.66) 86%);
		background: -webkit-linear-gradient(-45deg, rgba(45,127,130,0.65) 0%,rgba(45,127,130,0.65) 15%,rgba(207,150,113,0.65) 32%,rgba(45,127,130,0.66) 61%,rgba(207,150,113,0.66) 86%);
		background: linear-gradient(135deg, rgba(45,127,130,0.65) 0%,rgba(45,127,130,0.65) 15%,rgba(207,150,113,0.65) 32%,rgba(45,127,130,0.66) 61%,rgba(207,150,113,0.66) 86%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62d7f82', endColorstr='#a8cf9671',GradientType=1 );
	}

	.about-column {
		margin-top: 60px;

		p {
			border-top: solid 1px #ccc;
			padding-top: 20px;
			margin-top: 20PX;

			font-size: 18px;
			line-height: 24px;
		}
	}

	.content-panel {
		margin-top: 100px;
		padding: 50px 15px;
	}
}

.content-container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding-bottom: 15px;
	margin-bottom: 80px;

	@media (max-width: 768px) {
		font-size: 28px;
	}
	
	h2 {
		font-weight: bold;
		font-size: 42px;

		@media (max-width: 768px) {
			font-size: 28px;
		}
	}

	.subtitle-h2 {
		font-size: 12px;
		color: #999;
	}

	h4 {
		font-weight: bold;
		font-size: 20px;
	}

	p {
		text-align: justify;

	}
}

.content-panel.content-panel--open-bottom {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.content-panel.content-panel--open-top {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}


.content-panel.content-panel--open-bottom {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.content-container--home {
	margin-top: 10vh;
	text-align: center;
}

.steps-panel {
	margin-top: 60px;
	
	.steps-row {
		margin-top: 60px;
	}
}

.content-container--home {
	background: rgba(43, 43, 43, 0.35);
}

.navbar-right{
	.name{
		font-weight: bold;

		a {
			padding-right: 0;
			float: left;

			&:first-of-type {
				@media (max-width: 768px) {
					margin-left: 25px;
				}
			}
		}

		.material-icons {
			position: absolute;
			left: -13px;
			top: 13px;

			@media (max-width: 768px) {
				top: 9px;
			}
		}
	}

	.guest, .host{
		font-size: 12px;
		padding-left: 5px;
		padding-right: 0;
		line-height: 21px;
		float: left;

		&.guest-color {
			color: #cf9671;
		}

		&.host-color {
			color: #2d7f82;
		}
	}
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
	background: #ffffff;
	background-size: cover;
}

.alert {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.hero {
	height: 100vh;
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 1;
}

.hero-cta {
	display: block;
	height: 100%;
	width: 50%;
	position: absolute;
	overflow: hidden;

	@media (max-width: 768px) {
		width: 100%;
		height: 50%;
	}
	

	&:hover {
		&:before {
			filter: grayscale(100%);
		}

		&:after {
			opacity: 0.5;
		}

		.hero-cta-text {
			opacity: 1;
		}
	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-size: cover;
		filter: grayscale(60%);
		transition: all .2s ease-in-out;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-size: cover;
		z-index: 2;
		opacity: 0;
		transition: all .2s ease-in-out;
	}

	&.hero-cta--left {
		left: -11%;
		transform: rotate(10deg) scale(1.4);

		&:before {
			background-image: url(../images/podcaster.jpg);
			transform: rotate(-10deg);
			left: 20%;
			width: 100%;
		}

		&:after {

			background: -moz-linear-gradient(-45deg, rgba(45,127,130,1) 0%, rgba(207,150,113,0) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(45,127,130,1) 0%,rgba(207,150,113,0) 100%);
			background: linear-gradient(135deg, rgba(45,127,130,1) 0%,rgba(207,150,113,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d7f82', endColorstr='#00cf9671',GradientType=1 );
		}
	}

	&.hero-cta--right {
		right: -10%;
		transform: rotate(10deg) scale(1.4);

		@media (max-width: 768px) {
			top: 60%;
			right: 0;
		}

		&:before {
			background-image: url(../images/podcast_guest.jpg);
			transform: rotate(-10deg);
			left: -20%;

			
			@media (max-width: 768px) {
				left: 0;
				top: -20%;
			}
		}

		&:after {
			background: -moz-linear-gradient(-45deg, rgba(207,150,113,0) 0%, rgba(207,150,113,1) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(207,150,113,0) 0%,rgba(207,150,113,1) 100%);
			background: linear-gradient(135deg, rgba(207,150,113,0) 0%,rgba(207,150,113,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cf9671', endColorstr='#cf9671',GradientType=1 );
		}


		.hero-cta-text {
			left: 20%;
			right: auto;

			@media (max-width: 768px) {
				left: 20%;
			}
		}
	}

	.hero-cta-text {
		transform: rotate(-10deg);
		color: #ffffff;
		width: 40%;
		display: flex;
		align-items: stretch;
		justify-content: center;
		position: absolute;
		z-index: 99;
		height: 63%;
		right: 20%;
		top: 10%;
		flex-direction: column;
		text-shadow: 1px 2px 25px black, 
			-1px -1px 25px black, 
			1px 2px 25px black, 
			-1px -1px 25px black;
		text-align: center;
		opacity: .9;
		transition: all .2s ease-in-out;

		@media (max-width: 768px) {
			width: 60%;
			right: 13%;
		}

		.main {
			font-size: 60px;
			line-height: 1;

			@media (max-width: 1200px) {
				font-size: 40px;
			}

			@media (max-width: 768px) {
				font-size: 26px;
			}
		}

		.secondary {

			@media (max-width: 768px) {
				font-size: 13px;
			}
		}
	}
}

.hero-cta--middle {
    position: absolute;
    z-index: 3;
	color: #fff;
	
	flex-direction: column;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	text-align: center;
	opacity: .8;
	transition: all .2s ease-in-out;

    padding: 10px 20px;

	border-radius: 60px;
	border: solid 2px #fff;

    height: auto;
	width: 520px;
	margin-left: -260px;
    left: 50%;
	bottom: 10%;

	background: rgba(255,255,255,0.1);

	@media (max-width: 768px) {
		top: 50%;
		height: 62px;
		margin-top: -40px;
		width: 286px;
		font-size: 12px;
		left: 50%;
		margin-left: -143px;

		color: #fff;
		background: rgba(255,255,255, 1);
		opacity: 1;
		text-decoration: none;
		color: #333;
		text-shadow: none;
	}

	&:hover {
		color: #fff;
		background: rgba(255,255,255, 1);
		opacity: 1;
		text-decoration: none;
		color: #333;
		text-shadow: none;

		@media (max-width: 768px) {
			background: #ccc;
		}
	}
	
	.main {
		font-size: 40px;

		@media (max-width: 768px) {
			font-size: 26px;
			margin-bottom: -7px;
			margin-top: -7px;
		}
	}
}

body.account {
	background-image: url('../images/audio-business-chair-164716.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}


.account_container {
	margin-top: 20vh;
	background: rgba(255,255,255,0.5);
	border-radius: 8px;
	padding-bottom: 15px;
	margin-bottom: 80px;
	
}

.form-grou--remember {
	input[type="checkbox"] {
		width: 20px;
		height: 20px;
		margin-top: 0px;
		position: relative;
		margin-right: 10px;
		top: 4px;
		display: inline-block;
	}
}

.account-form {
	label {
		width: 100%;
	}

	input, .medium-editor-element {
		border-radius: 0px;
		box-shadow: none;
		border-color: #eeeeee;
		border-bottom-color: #aaaaaa;
	}

	textarea {
		display: none;
	}

	.medium-editor-element {
		height: 150px;
		overflow: hidden;
	}

	[type="checkbox"] {
		width: 34px;
		cursor: pointer;
	}
}

.fg-account-image {
	label {
		width: 80%;
		margin: 0 auto;
		display: block;
		padding-bottom: 84%;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		margin: -100px auto 0;
		position: relative;
		cursor: pointer;
		height: 0;
		background-position: center center;
		background-size: cover;
		left: 15px;
	}

	input {
		visibility: hidden;
		position: absolute;
	}

	.no-image {
		text-align: center;
		padding: 8% 15px 15%;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.material-icons {
			font-size: 64px;
			display: block;
		}

		span {
			margin-top: 20px;
		}

		&.no-image--hidden {
			display: none;
		}
	}
}

.content-panel {
	border-radius: 8px;
	background: #fff;
	padding: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	.field-name {
		font-size: 16px;
		font-weight: bold;
		color: #666;
	}

	.field-value {
		font-size: 14px;
		color: #999;
		margin-bottom: 20px;
	}

	.form-group sub {
		font-size: 11px;
		color: #aaa;
		bottom: 0;
		font-weight: 400;
	}
}

.account-row {
	margin-top: 20px;
}

.image-wrapper {
	margin: -100px auto 0;
	width: 80%;
	padding-bottom: 84%;
	position: relative;
	left: 15px;

	img {
		max-width: 100%;
		border: solid 3px #fff;
		border-radius: 8px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
}

.profile-heading {
    text-align: right;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

body.list {
	background-image: url('../images/apple-device-blur-blurry-273222.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}


body.contact {
	background-image: url('../images/contact_mailboxes.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}



.list-page {

	.container {
		padding-top: 25vh;
	}


	.user-container {
		background: rgba(255,255,255,0.5);
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		margin-bottom: 15px;
		overflow: hidden;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		border-radius: 8px;
		padding-bottom: 20px;
	}

	.user-container-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		align-items: stretch;
	}

	.list-footer-panel {
		margin-left: 40%;
		background: #fff;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		width: 60%;
		padding: 15px;
		border-radius: 8px;

		.btn.loading {
			color: transparent;
			background-image: url(../images/spinner_white.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 20px;
		}
	}

	.card-panel {
		display: flex;
		
		background: #fff;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		position: relative;
		width: 30%;
		margin-bottom: 20px;
		flex-direction: column;
		text-decoration: none;
		color: #333;
		font-weight: bold;
		transition: all .25s linear;
		border-radius: 8px;

		@media (max-width: 992px) {
			width: 48%;
		}

		@media (max-width: 768px) {
			width: 100%;
		}

		&:hover{
			box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
		}

		.material-icons {
			font-size: 22px;
			margin-right: 5px;
		}



		/*
		&:before {
			content: "";
			height: 3px;

			background: #cf9671;
			background: -moz-linear-gradient(top, #cf9671 0%, #ffb07c 100%);
			background: -webkit-linear-gradient(top, #cf9671 0%,#ffb07c 100%);
			background: linear-gradient(to bottom, #cf9671 0%,#ffb07c 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf9671', endColorstr='#ffb07c',GradientType=0 );
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		*/
	}



	.card-panel-image {
		position: relative;
		overflow: hidden;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;

		.image {
			width: 100px;
			height: 100px;
			position: relative;
			margin: 30px auto 30px;
			border: solid 3px #fff;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			display: block;
		}

		.blurred {
			position: absolute;
			left: -5px;
			bottom: -5px;
			right: -5px;
			top: -5px;
			background-position: center center;
			background-size: 200%;
			-webkit-filter: blur(5px);filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5");
			filter: blur(5px);
		}

		.name {
			position: relative;
			text-align: center;
			color: white;
			background: rgba(0,0,0,0.5);
			margin: 20px;
			font-size: 15px;
			font-weight: bold;
			line-height: 30px;
		}
	}

	.card-content {
		padding: 20px 0;
		box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.4);

		&>* {
			padding: 0 20px;
			display: flex;
			align-items: center;
		}


		.name {
			font-size: 16px;
			margin-bottom: 5px;

			.flag-own {
				color: green;
				font-size: 12px;
				padding-left: 5px;
			}
		}

		.title, 
		.location {
			font-size: 13px;
			color: #777;
			font-weight: 400;
			margin-bottom: 5px;
		}

		.text {
			padding-top: 5px;
			padding-bottom: 14px;
		}

		.guest, 
		.host {
			padding-top: 15px;
			padding-bottom: 15px;
			transition: all .15s linear;
			box-shadow: 0px -2px 2px -4px rgba(0,0,0,0.2);
			align-items: flex-start;

			&:hover {
				box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);

				.check span {
					display: none;

					&.next {
						display: inline-block;
					}
				}
			}

			margin-top: 10px;
		}

		.guest {
			background: rgba(207,150,113,0.3);

			&.guest--can-invite {
				.check {
					display: block;
				}
			}
		}

		.host {
			background: rgba(45,127,130,0.3);

			&.host--can-invite {
				.check {
					display: block;
				}
			}
		}

		.check {
			min-height: 35px;
			min-width: 35px;
			position: relative;
			left: -6px;
			display: none;
			margin-right: 5px;

			
			&>div {
				position: absolute;
				display: none;
			}

			.material-icons {
				font-size: 34px;
				line-height: 16px;
				float: left;
			}

			span {
				font-size: 11px;
				position: relative;
				font-weight: 400;
				color: #888888;
				white-space: nowrap;
				width: 60px;
				left: -13px;
				top: 0;
				text-align: center;
				display: inline-block;

				&.next {
					display: none;
				}
			}
		}

		[data-invite-status="none"] {
			.check .none {
				display: block;
			}

			.next {
				color: #3c763d;
			}
		}

		[data-invite-status="owner"] {
			.check .owner {
				display: block;
				.icon-on {
					color: #8a6d3b;
				}
			}

			span {
				color: #8a6d3b;
			}

			.next {
				color: #a94442;
			}
		}

		[data-invite-status="invitee"] {
			.check .invitee {
				display: block;
				.icon-on {
					color: #8a6d3b;
				}
			}

			span {
				color: #8a6d3b;
			}

			.next {
				color: #3c763d;
			}
		}

		[data-invite-status="match"] {
			.check .match {
				display: block;
				color: #3c763d;
			}

			span {
				color: #3c763d;
			}

			.next {
				color: #a94442;
			}
		}

		.headline {
			display: flex;
			align-items: center;
		}

		.guest-subject,
		.subject {
			color: #666666;
			font-size: 13px;
			font-weight: 400;
		}
	}
}

.filters-panel {
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 40px;
	color: #333;
	width: 100%;
	padding: 20px;
}

.filter-type-container {
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
	display: flex;
	overflow: hidden;
	height: 40px;
	width: 30%;
	justify-content: space-around;
	border-radius: 22px;

	@media (max-width: 992px) {
		width: 60%;
	}

	@media (max-width: 768px) {
		width: 100%;
	}

	input {
		top: -99999px;
		position: absolute;
	}

	label {
		padding: 2px 12px;
		position: relative;
		top: 6px;
		margin: 0;
		height: 28px;
		line-height: 24px;
		cursor: pointer;
		background: #f7f7f7;
		border-radius: 20px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

		&:hover {
			background: #efefef;
		}
	}

	input:checked + label {
		background: #cccccc;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
}

.filter-inner {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.filter-query {
	height: 30px;
	width: 30%;
	border: none;
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 22px;
	outline: none;
	padding: 0 10px;
	font-size: 13px;

	
	@media (max-width: 992px) {
		margin: 0 10px;
	}


	@media (max-width: 768px) {
		width: 100%;
		margin: 10px 0;
	}

	&:focus,
	&:active {
		box-shadow: inset 0 3px 6px rgba(45,127,130, 0.16), inset 0 3px 6px rgba(45,127,130,0.23);
	}

	&.loading {
		background-image: url(../images/spinner.svg);
		background-repeat: no-repeat;
		background-position: 100% center;
		background-size: 30px;
		padding-right: 30px;
	}

}

.filter-submit {
	background: white;
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 50px;
    padding: 5px 10px;
	border: solid 1px #ccc;
	outline: none;
	&:hover {
		background: #efefef;
	}
}

.guest-color {
	color: rgba(207,150,113,1);
}

.host-color {
	color: rgba(45,127,130,1);
}

.filter-prompt {
	font-weight: 700;
    padding-left: 16px;
    color: #888;
    margin-bottom: 4px;
}

.layout-rails {
	border: solid 3px rgba(255,255,255,0.5);
	min-height: 100vh;
	border-top: none;
	border-bottom: none;

	@media (max-width: 768px) {
		width: 92%;
		margin-left: 4%;
	}
	
	&.layout-rails--dark {
		border-color: #333;
	}
}

#flash-messages {
	position: relative;
	height: 0;
	z-index: 20;
	top: 70px;
}


.modal-error .modal-header{
	color: #a94442;
    border-top: solid 3px #a94442;
}


.modal-success  .modal-header{
	color: #3c763d;
    border-top: solid 3px #3c763d;
}


.modal-warning .modal-header {
	color: #8a6d3b;
	border-top: solid 3px #8a6d3b;
}

.modal-title .material-icons {
	vertical-align: middle;
}

.step-wrapper {
	display: flex;
	min-height: 100px;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		flex-direction: column;
	}
	

	> * {
		flex-grow: 1;
	}
}

.step-image {
	padding: 50px 0;

	img {
		width: 300px;
		max-width: 90%;
	}
}

.step-text {
	width: 40%;
	padding-top: 20px;
	margin-top: 20PX;
	font-size: 18px;
	line-height: 24px;

	@media (max-width: 768px) {
		width: 80%;
		font-size: 14px;
		line-height: 20px;
	}
}


.index-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: center;

	&:before {
		content: "";
		width: 4px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -2px;
		bottom: 0;
		background-color: #333;
	}

	.index {
		position: relative;
		border-radius: 50%;
		background: #fff;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 52px;
		border: solid 2px #333;
		color: #333;
		font-size: 34px;
		font-weight: bold;
	}
}

#footer {
	margin: 0;
	border: none;
	width: 100%;
	background: #333;
	box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
	position: relative;
}

.numbers-wrapper {
    margin-top: 50px;
}

.number-item {
	text-align: center;

	.numscroller {
		font-size: 32px;
	}
}

.number-label {
	font-size: 16px;
}

.margin-top-80 {
	margin-top: 80px;
}

.contact .content-panel label {
	display: block;
}