{% block contents %}
	<h1>Hi,</h1>
	<p class="text-larger">Link resetare parola:</p>
	
	<a href="https://invitatipodcast.ro/account/recover-password?token={{token}}">https://invitatipodcast.ro/account/recover-password?token={{token}}</a>


{% endblock %}
