{% extends "../../layouts/default.twig" %}

{% block head %}
	<title>Invitati Podcast | Edit</title>
	<meta name="description" content="Gaseste parteneri de discutie din toate colturile romaniei. ">
	<meta name="keywords" content="Invitati, Podcast, Show, Conversatie, Radio">
{% endblock %}

{% block content %}
<div class="account-page">
	<div class="container account_container">
	
		<form enctype="multipart/form-data" method="post" class="account-form">
			<div class="row account-row">
				<div class="col-sm-4 col-md-4 heading-panel">

					{% set className = "" %}
					{% if validationErrors.image %}
						{% set className = "has-error" %}
					{% endif %}
					<div class="form-group fg-account-image {{ className }}">

						{% if user.image.url %}
							<div class="image-wrapper">
								<img src="{{user.image.url|replace({'/upload/': '/upload/ar_1:1,c_fill,g_auto/'})}}" />
							</div>
						{% else %}
							<label class="user-input-screen">
								<span class="no-image">
									<i class="material-icons">person</i>
									<span>Click upload a photo!</span>
								</span>
								<input type="file" name="image" value="{{ user.image | default('') }}" class="form-control user-image-input">
							</label>
						{% endif %}
					</div>
					
				</div>

				<div class="col-sm-8">
					<div class="content-panel">
						<input type="hidden" name="action" value="edit">

						{% set className = "" %}
						{% if validationErrors.name %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Nume Complet</span>
								<input type="text" name="name" value="{{ user.name | default('') }}" class="form-control">
							</label>
						</div>



						{% set className = "" %}
						{% if validationErrors.email %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Email <sub>(Nu va fi afisat nicaieri. E folosit sa identificam contul si sa te anuntam cand vrea cineva sa te cunoasca.)</sub></span>
								<input type="email" name="email" value="{{ user.email | default('') }}" class="form-control">
							</label>
						</div>






						{% set className = "" %}
						{% if validationErrors.page %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Link catre pagina web <sub>(Optional)</sub></span>
								<input type="text" name="page" value="{{ user.page | default('') }}" class="form-control">
							</label>
						</div>


						{% set className = "" %}
						{% if validationErrors.facebook %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Link catre pagina Facebook</span>
								<input type="text" name="facebook" value="{{ user.facebook | default('') }}" class="form-control">
							</label>
						</div>


						{% set className = "" %}
						{% if validationErrors.location %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Locatie <sub>(Va fi afisata pe cardurile din lista, e preferabil sa fie scurt, poate orasul)</sub></span>
								<input type="text" name="location" value="{{ user.location | default('') }}" class="form-control">
							</label>
						</div>


						{% set className = "" %}
						{% if validationErrors.phone %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Telefon <sub>(Optional)</sub></span>
								<input type="text" name="phone" value="{{ user.phone | default('') }}" class="form-control">
							</label>
						</div>

						

						{% set className = "" %}
						{% if validationErrors.title %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Titulatura <sub>(Va fi afisat pe cardurile din lista. Preferabil sa fie o foarte scurta descriere a ce te reprezinta, pentru o prima impresie, de ex. "Programator, parinte si tamplar amator")</sub></span>
								<input type="text" name="title" value="{{ user.title | default('') }}" class="form-control">
							</label>
						</div>


					</div>

				</div>

			</div>
			
			<div class="row account-row">
				<div class="col-sm-4 col-md-4 heading-panel">
					<h3 class="profile-heading">Invitat</h3>
				</div>

				<div class="col-sm-8">
					<div class="content-panel">
						{% set className = "" %}
						{% if validationErrors.isGuest %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Vreau sa fiu invitat.</span>
								<input type="checkbox" name="isGuest" {% if user.isGuest %}checked{% endif %} class="form-control">
							</label>
						</div>



						{% set className = "" %}
						{% if validationErrors.guestSubject %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Despre ce esti dispus sa povestesti? <sub>(Va aparea pe cardurile din lista. E preferabil sa fie o scurta descrie a despre ce esti dispus sa porti o discutie. Recomandam sa fie ceva legat de meseria ta, vreun eveniment important din viata ta, sau ceva ce sa sugereze ce fel de discutie iti place sa porti, ex. "Imagineaza-ti ca mi-am terminat a patra bere intr-un bar impuțit. Știu si doua glume, ambele despre soacre").</sub></span>
								<input type="text" name="guestSubject" value="{{ user.guestSubject | default('') }}" class="form-control">
							</label>
						</div>



						{% set className = "" %}
						{% if validationErrors.description %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<div>
								<span>O descriere mai detaliata despre ce esti dispus sa povestesti <sub>(Va aperea doar pe pagina ta de profil. Recomandam sa fie o lista detaliata a evenimentelor si preocuparilor din viata ta, pe ideea sa inviti intrebari despre ce esti dispus sa povestesti. De exemplu, daca tu ai fost fost vreodata furnizor la vreun restaurant, eu ca si fost chelner te pot intreba "ce ai invatat despre romani facand asta".)</sub></span>
								<textarea name="description" class="form-control">{{ user.description | default('') }}</textarea>
							</div>
						</div>

						{% set className = "" %}
						{% if validationErrors.rangeGuest %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Esti dispus sa te deplasezi? <sub>(Optional, nu stiu daca e neaparat relevant dar ma gandeam la oamenii ce locuiesc intr-un alt oras, dar ar fi dispus candva sa isi sacrifice o ora doua dintr-o vacanta, sau cand are ceva de rezolvat.)</sub></span>
								<input type="text" name="rangeGuest" value="{{ user.rangeGuest | default('') }}" class="form-control">
							</label>
						</div>


						{% set className = "" %}
						{% if validationErrors.onlineGuest %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Esti dispus sa porti o discutie online? <sub>(Cu sau fara camera? Precizeaza si daca ai echipament special (microfon) sau generic.</sub></span>
								<input type="text" name="onlineGuest" value="{{ user.onlineGuest | default('') }}" class="form-control">
							</label>
						</div>
					</div>
				</div>

			</div>
			
			<div class="row account-row">
				<div class="col-sm-4 col-md-4 heading-panel">
					<h3 class="profile-heading">Podcaster</h3>
				</div>

				<div class="col-sm-8">
					<div class="content-panel">
						{% set className = "" %}
						{% if validationErrors.isHost %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Esti Podcaster? <sub>(Simte-te liber sa bifezi si daca vrei sa fi gazda unei discutii in alt context)</sub></span>
								<input type="checkbox" name="isHost" {% if user.isHost %}checked{% endif %} class="form-control">
							</label>
						</div>



						{% set className = "" %}
						{% if validationErrors.subject %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Care e subiectul podcastului/show-ului tau? <sub>(Va aparea pe cardurile din lista. E preferabil sa fie o idee foarte scurta sa stie oamenii la ce sa se astepte.)</sub></span>
								<input type="text" name="subject" value="{{ user.subject | default('') }}" class="form-control">
							</label>
						</div>




						{% set className = "" %}
						{% if validationErrors.hostDescription %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<div>
								<span>Detalii despre show-ul tau <sub>(Optional. Va aparea doar pe pagina de profil, idea fiind, daca vrei sa dai mai multe detalii sa convingi oamenii sa vorbeasca cu tine, aici e locul. )</sub></span>
								<textarea name="hostDescription" class="form-control">{{ user.hostDescription | default('') }}</textarea>
							</div>
						</div>



						{% set className = "" %}
						{% if validationErrors.episodes %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Link catre episoadele show-ului tau. <sub>(Optional. Se aplica doar celor ce pagina lor personala de mai sus e diferita de show-ul lui.)</sub></span>
								<input type="text" name="episodes" value="{{ user.episodes | default('') }}" class="form-control">
							</label>
						</div>


						{% set className = "" %}
						{% if validationErrors.onlineHost %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Esti dispus sa gazduiesti o discutie online? <sub>(Enumera si daca ai eventual ceva preferinte/pretentii, poate pentru echipament sau cu/fara camera.)</sub></span>
								<input type="text" name="onlineHost" value="{{ user.onlineHost | default('') }}" class="form-control">
							</label>
						</div>


						{% set className = "" %}
						{% if validationErrors.rangeHost %}
							{% set className = "has-error" %}
						{% endif %}
						<div class="form-group {{ className }}">
							<label>
								<span>Esti dispus sa te deplasezi ca si gazda? <sub>(Optional, probabil unele persoane prefera sa te primeasca la ei in birou decat sa vina ei la tine.)</sub></span>
								<input type="text" name="rangeHost" value="{{ user.rangeHost | default('') }}" class="form-control">
							</label>
						</div>
					</div>
				</div>
			</div>

			
			<div class="row account-row">
				<div class="col-sm-8 col-md-offset-4">
					<div class="content-panel">
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Salveaza</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
