{% extends "../../layouts/default.twig" %}



{% block head %}
	<title>Invitati Podcast | Login</title>
	<meta name="description" content="Gaseste parteneri de discutie din toate colturile romaniei. ">
	<meta name="keywords" content="Invitati, Podcast, Show, Conversatie, Radio">
{% endblock %}



{% block content %}
<div class="account-page">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 layout-rails">
			<div class="account_container">
			
				<form enctype="multipart/form-data" method="post" class="account-form">
					<input type="hidden" name="action" value="login">

					<div class="row account-row">
						<div class="col-sm-12">
							<div class="content-panel">
								{% set className = "" %}
								{% if validationErrors.email %}
									{% set className = "has-error" %}
								{% endif %}
								<div class="form-group {{ className }}">
									<label>
										<span>Email</span>
										<input type="text" name="email" value="{{ formData['email'] | default('') }}" class="form-control">
									</label>
								</div>

								<div class="form-group">
									<label>
										<span>Password</span>
										<input type="password" name="password" value="{{ formData.password | default('') }}" class="form-control">
									</label>
								</div>

								<div class="form-group form-grou--remember">
									<label>
										<input type="checkbox" name="remember" value="remember" class="form-control">
										<span>Remember me</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row account-row">
						<div class="col-sm-8 col-md-offset-4">
							<div class="content-panel">
								<div class="form-actions">
									<button type="submit" class="btn btn-primary">Login</button>
									<a href="/account/new" class="btn btn-success pull-right">Creaza cont</a>
								</div>
							</div>
						</div>
					</div>

					{% if loginFailed %}

					<div class="row account-row">
						<div class="col-sm-8">
							<div class="content-panel">
								<div class="form-actions clearfix">
									<a href="/account/recover-password" class="btn pull-right">Recupereaza Parola</a>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				</form>
			
			
			</div>
		</div>
	</div>
</div>
{% endblock %}
