{% extends "../../layouts/default.twig" %}
{% block content %}
<div class="account-page">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 layout-rails">
			<div class="account_container">

				{% if stage == "TOKEN_ERROR" %}
					<div class="row account-row">
						<div class="col-sm-8 col-md-offset-4">
							<div class="content-panel">
								<div class="form-actions">
									<a href="" type="submit" class="btn btn-primary">Try Again.</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}



				{% if stage == "RESET" %}
					<form enctype="multipart/form-data" method="post" class="account-form">
						<input type="hidden" name="action" value="reset">
						<input type="hidden" name="token" value="{{token}}" /> 

						<div class="row account-row">
							<div class="col-sm-12">
								<div class="content-panel">
									<div class="form-group">
										<label>
											<span>Enter new password</span>
											<input type="password" name="password" value="" class="form-control">
										</label>
									</div>
									<div class="form-group">
										<label>
											<span>Repeta Parola</span>
											<input type="password" name="password_repeat" value="" class="form-control">
										</label>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row account-row">
							<div class="col-sm-8 col-md-offset-4">
								<div class="content-panel">
									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Update Password</button>
									</div>
								</div>
							</div>
						</div>
					</form>
			
				{% endif %}

				{% if stage == "RECOVER" %}

				<form enctype="multipart/form-data" method="post" class="account-form">
					<input type="hidden" name="action" value="recover">

					<div class="row account-row">
						<div class="col-sm-12">
							<div class="content-panel">
								{% set className = "" %}
								{% if validationErrors.email %}
									{% set className = "has-error" %}
								{% endif %}
								<div class="form-group {{ className }}">
									<label>
										<span>Email</span>
										<input type="text" name="email" value="{{ formData['email'] | default('') }}" class="form-control">
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row account-row">
						<div class="col-sm-8 col-md-offset-4">
							<div class="content-panel">
								<div class="form-actions">
									<button type="submit" class="btn btn-primary">Send Recovery Link</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
