{% extends "../../layouts/default.twig" %}



{% block head %}
	<title>Invitati Podcast | {{user.name}}</title>
	<meta name="description" content="Gaseste parteneri de discutie din toate colturile romaniei. ">
	<meta name="keywords" content="Invitati, Podcast, Show, Conversatie, Radio">
{% endblock %}


{% block content %}
<div class="account-page">

	<div class="container layout-rails">
		<div class="account_container">

				<div class="row account-row">
					<div class="col-sm-4 col-md-4 heading-panel">
						{% if user.image.url %} 
							<div class="image-wrapper">
								<img src="{{user.image.url|replace({'/upload/': '/upload/ar_1:1,c_fill,g_auto/'})}}" />
							</div>
						{% endif %}
					</div>

					<div class="col-sm-8">
						<div class="content-panel">
					

							<div class="field-name">Nume</div>
							<div class="field-value">{{user.name}}</div>


							<div class="field-name">Email</div>
							<div class="field-value">{{user.email}}</div>


							<div class="field-name">Pagina web</div>
							<div class="field-value">{{user.page}}</div>


							<div class="field-name">Pagina facebook</div>
							<div class="field-value">{{user.facebook}}</div>



							<div class="field-name">Locatie</div>
							<div class="field-value">{{user.location}}</div>



							<div class="field-name">Telefon</div>
							<div class="field-value">{{user.phone}}</div>


						</div>

					</div>

				</div>
				
				{% if user.isGuest %}
					<div class="row account-row">
						<div class="col-sm-4 col-md-4 heading-panel">
							<h3 class="profile-heading">Invitat</h3>
						</div>
						<div class="col-sm-8">
							<div class="content-panel">
								<div class="field-name">Subiect discutie</div>
								<div class="field-value">{{user.description}}</div>
								<div class="field-name">Zona deplasare.</div>
								<div class="field-value">{{user.rangeGuest}}</div>
								<div class="field-name">Discutie online.</div>
								<div class="field-value">{{user.onlineGuest}}</div>
							</div>
						</div>
					</div>
				{% endif %}
				
				
				
				{% if user.isHost %}
					<div class="row account-row">
						<div class="col-sm-4 col-md-4 heading-panel">
							<h3 class="profile-heading">Podcaster</h3>
						</div>

						<div class="col-sm-8">

							<div class="content-panel">

								<div class="field-name">Subiect podcast</div>
								<div class="field-value">{{user.hostDescription}}</div>

								<div class="field-name">Episoade</div>
								<div class="field-value">{{user.episodes}}</div>



								<div class="field-name">Discutie online</div>
								<div class="field-value">{{user.onlineHost}}</div>


								<div class="field-name">Zona deplasare</div>
								<div class="field-value">{{user.rangeHost}}</div>
							</div>
						</div>
					</div>
				{% endif %}
		</div>

	</div>
</div>
{% endblock %}
